<a href="https://colab.research.google.com/github/PavanGavit/FL_Lab/blob/main/FL_A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Sample student performance dataset
data = {
    "study_hours": [2, 4, 6, 8, 10, np.nan, 5, 7, 3, 9],
    "attendance": [65, 70, 80, 90, 95, 85, np.nan, 88, 72, 92],
    "internal_marks": [40, 50, 60, 70, 85, 75, 55, np.nan, 45, 80],
    "final_score": [45, 55, 65, 75, 88, 78, 60, 82, 50, 85]
}

df = pd.DataFrame(data)
df

   study_hours  attendance  internal_marks  final_score
0          2.0        65.0            40.0           45
1          4.0        70.0            50.0           55
2          6.0        80.0            60.0           65
3          8.0        90.0            70.0           75
4         10.0        95.0            85.0           88
5          NaN        85.0            75.0           78
6          5.0         NaN            55.0           60
7          7.0        88.0             NaN           82
8          3.0        72.0            45.0           50
9          9.0        92.0            80.0           85

In [ ]:
# Fill missing values with column mean
df = df.fillna(df.mean())

df

   study_hours  attendance  internal_marks  final_score
0          2.0   65.000000       40.000000           45
1          4.0   70.000000       50.000000           55
2          6.0   80.000000       60.000000           65
3          8.0   90.000000       70.000000           75
4         10.0   95.000000       85.000000           88
5          6.0   85.000000       75.000000           78
6          5.0   81.888889       55.000000           60
7          7.0   88.000000       62.222222           82
8          3.0   72.000000       45.000000           50
9          9.0   92.000000       80.000000           85

In [ ]:
X = df.drop("final_score", axis=1)
y = df["final_score"]

In [ ]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled

   study_hours  attendance  internal_marks
0        0.000    0.000000        0.000000
1        0.250    0.166667        0.222222
2        0.500    0.500000        0.444444
3        0.750    0.833333        0.666667
4        1.000    1.000000        1.000000
5        0.500    0.666667        0.777778
6        0.375    0.562963        0.333333
7        0.625    0.766667        0.493827
8        0.125    0.233333        0.111111
9        0.875    0.900000        0.888889

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

In [ ]:
def split_into_clients(X, y, num_clients=3):
    client_data = {}
    data_per_client = len(X) // num_clients

    for i in range(num_clients):
        start = i * data_per_client
        end = (i + 1) * data_per_client if i != num_clients - 1 else len(X)

        client_data[f"client_{i+1}"] = {
            "X": X.iloc[start:end],
            "y": y.iloc[start:end]
        }

    return client_data

In [ ]:
num_clients = 3
clients = split_into_clients(X_train, y_train, num_clients)

# Display client data sizes
for client, data in clients.items():
    print(client, "-> samples:", len(data["X"]))

client_1 -> samples: 2
client_2 -> samples: 2
client_3 -> samples: 4

In [ ]:
# Client 1 local dataset
clients["client_1"]["X"], clients["client_1"]["y"]

(   study_hours  attendance  internal_marks
 5          0.5    0.666667        0.777778
 0          0.0    0.000000        0.000000,
 5    78
 0    45
 Name: final_score, dtype: int64)